<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Owners</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
#container {
margin: auto;
width: 99%;
}
</style>
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add a new owner!</h1>
    <p class="lead">Hey! Here you can add yourself as an owner :)</p>
  </div>
</div>
	<div id="container">
	<form th:object="${owner}" th:action="@{saveowner}" action="#" method="post">
	    <div class="form-group col-md-6">
	    <label for="name">Name</label>
	    <input type="text" id="name" th:field="*{name}" class="form-control"/>
	    </div>
	    
	    <button class="btn btn-primary" type="submit" value="Save">Save</button>
	    <a href="/clothing" class="btn btn-danger">Back</a>
	</form>
	</div>
	


</body>
</html>