<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wardrobe</title>
<link th:href="@{/styles/home.css}" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>




  <!--    <div class="col-md-3" style="margin-left:650px"> -->
    
   
 
    
   
	
	
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Wardrobe Application</h1>
    <p class="lead">What's inside your wardrobe?</p>
  </div>
</div>
	
	
	
	<table class="table table-striped">
	
	<div class="col-md-4" style="padding: 20px; margin-left:1200px">
	<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign Out" class="btn btn-danger"/> 
	</form>
	</div>
	<thead>
	<tr>
	<th> Description </th>
	<th> Year </th>
	<th> Price </th>
	<th> Owner </th>
	<th> Type </th>
	
	</tr>
	
	
	</thead>
	     <tbody>
	          <tr th:each = "clothing : ${clothes}">
	          <td th:text="${clothing.description}">Description</td>
	          <td th:text="${clothing.year}">Year</td>
	          <td th:text="${clothing.price}">Price</td>
	          <td th:text="${clothing.owner} ? ${clothing.owner.name} : ''">Owner</td>
	          <td th:text="${clothing.type} ? ${clothing.type.name} : ''">Type</td>
	          <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${clothing.id})}" class="btn btn-danger">Delete</a></td>
	          </tr>
	     
	     </tbody>
	</table>
	<a sec:authorize="hasAuthority('ADMIN')" href="/add" class="btn btn-success">Add Clothes</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/addowner" class="btn btn-success">Add Owner</a>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>